html {
  box-sizing: border-box;
}

body {
  background-color: clr(gray-lighter);
  color: clr($gray-darker);

  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.form-item {
  max-width: 100% !important;
  width: 100% !important;
}
